<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <!-- <link rel="stylesheet" href="Style.css"> -->
    <title>Form</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <style>
        .custom-font {
          font-family: Arial, sans-serif;
          font-size: 12px;
          /* Add other font-related styles if needed */
        }
      </style>
</head>
<body>
    <nav>
        <a onclick="homeFunction()">Home</a>
        <a onclick="analyticsFunction()">Analytics</a>
        <a href="{{ url_for('form') }}">Personal Pitch Assessment</a>
    </nav>

    <div id="buttons">
        <button class="scrollButton" onclick="homeFunction()" id="home" title="Go to home section" style="margin-top:40px">H</button>
        <button class="scrollButton" onclick="analyticsFunction()" id="rain" title="Go to analytics section" style="margin-top:40px">A</button>
    </div>

    <script>
        document.getElementById("shark").style.display = "block";

        // When the user clicks on the button, scroll to the top of the document
        function homeFunction() {
            var homeURL = "{{ url_for('home') }}";
            window.location.href = homeURL + "#home";
        }

        // When the user clicks on the button, scroll to the rain page of the document
        function analyticsFunction() {
            // document.body.scrollTop = 1000;
            // document.documentElement.scrollTop = 1000;
            var homeURL = "{{ url_for('home') }}";
            window.location.href = homeURL + "#analyticsSection";
            //document.getElementById('analyticsSection').scrollIntoView();
        }
    </script>
    <div class="titleform" >
            <span class="border">
                Form Page
            </span>
    </div>
</div>
    <div>
        <form action="{{ url_for('form') }}" method="post" style="width: 100%;">
            <div class="form-card">
                <h2>Pitcher Information</h2>
                <label for="industry">Industry:</label>
                <select id="industry" name="industry" required>
                    <option value="Automotive">Automotive</option>
                    <option value="Business Services">Business Services</option>
                    <option value="Children/Education">Children/Education</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Fashion/Beauty">Fashion/Beauty</option>
                    <option value="Fitness/Sports/Outdoors">Fitness/Sports/Outdoors</option>
                    <option value="Food and Beverage">Food and Beverage</option>
                    <option value="Green/CleanTech">Green/CleanTech</option>
                    <option value="Health/Wellness">Health/Wellness</option>
                    <option value="Lifestyle/Home">Lifestyle/Home</option>
                    <option value="Liquor/Alcohol">Liquor/Alcohol</option>
                    <option value="Media/Entertainment">Media/Entertainment</option>
                    <option value="Pet Products">Pet Products</option>
                    <option value="Software/Tech">Software/Tech</option>
                    <option value="Travel">Travel</option>
                    <option value="Uncertain/Other">Uncertain/Other</option>
                </select>


                
                <label for="pitcherGender">Pitcher Gender:</label>
                <select id="pitcherGender" name="pitcherGender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Mixed Team">Co-ed team</option>
                </select>

                <label for="pitcherCity">Pitcher City:</label>
                <input type="text" id="pitcherCity" name="pitcherCity" required>

                <label for="pitcherState">Pitcher State:</label>
                <select id="pitcherState" name="pitcherState" required>
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="Canada">Canada</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                </select>


                <label for="pitcherAge">Pitcher Age (Please self-identify to the best of your ability):</label>
                <input type="number" id="pitcherAge" name="pitcherAge" min="1" required>
                <select id="pitcherAge" name="pitcherAge" required>
                    <option value="Young">Young</option>
                    <option value="Middle">Middle</option>
                    <option value="Old">Old</option>
                </select>

            </div>

            <div class="form-card">
                <h2>Company Information</h2>
            <label for="askAmount">Ask Amount:</label>
            <input type="number" id="askAmount" name="askAmount" min="1" required>

            <label for="equityOffered">Equity Offered:</label>
            <input type="number" id="equityOffered" name="equityOffered" min="0" max="100" required>

            <label for="profitsSales">Profits and Sales/Revenue:</label>
            <input type="text" id="profitsSales" name="profitsSales" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

