<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="Style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <title>Shark Tank Assistant</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <style>
        .custom-font {
            font-family: Arial, sans-serif;
            font-size: 12px;
            /* Add other font-related styles if needed */
        }
    </style>
</head>

<body>

    <nav>
        <a href="#home">Home</a>
        <a href="#analyticsSection">Analytics</a>
        <a href="{{ url_for('form') }}">Personal Pitch Assessment</a>
    </nav>

    <div id="buttons">
        <button class="scrollButton" onclick="homeFunction()" id="home" title="Go to home section"
            style="margin-top:40px">H</button>
        <button class="scrollButton" onclick="analyticsFunction()" id="rain" title="Go to analytics section"
            style="margin-top:40px">A</button>
    </div>

    <script>
        document.getElementById("shark").style.display = "block";

        // When the user clicks on the button, scroll to the top of the document
        function homeFunction() {
            var homeURL = "{{ url_for('home') }}";
            window.location.href = homeURL + "#home";
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        // When the user clicks on the button, scroll to the rain page of the document
        function analyticsFunction() {
            // document.body.scrollTop = 1000;
            // document.documentElement.scrollTop = 1000;
            var homeURL = "{{ url_for('home') }}";
            window.location.href = homeURL + "#analyticsSection";
            //document.getElementById('analyticsSection').scrollIntoView();
        }
    </script>



    <div id="home" class="simg1">
        <div class="ptext">
            <span class="border">
                Shark Tank Assistant
            </span>
        </div>
    </div>

    <section class="section section-shark">
        <h2>
            <b>Unlock Your Potential</b>
        </h2>
        <p>
            <i>"We're here to help you succeed on Shark Tank and similar shows worldwide. Whether you're a budding
                entrepreneur or an experienced shark, our application empowers you with valuable insights.
                "</i>
        </p>
        <iframe src="{{ url_for('static', filename='pie_chart_all.html') }}" width="800" height="600"></iframe>
        <p class="custom-font">This pie chart shows the percentage of pitches in each industry.</p>
        <iframe src="{{ url_for('static', filename='pie_chart_success.html') }}" width="800" height="600"></iframe>
        <p class="custom-font">This pie chart shows the percentage of pitches in each industry that accepted an offer.
        </p>
        <iframe src="http://127.0.0.1:1234" width="800" height="600"></iframe>
        <p class="custom-font">This interactive app allows you to select an industry and what data you want to look at.
        </p>
        <iframe src="http://127.0.0.1:4321" width="800" height="600"></iframe>
        <p class="custom-font">This interactive app allows you to learn about each shark! For each shark, the average
            investment per industry, the average equity per industry, the highest investment made, and the proportion of
            pitches invested in is shown.</p>
    </section>


    <section class="section section-shark">
        <h2>Tailored Feedback</h2>
        <p>
            <i>Get personalized feedback on your Shark Tank proposal. Discover which sharks might accept your offer and
                assess your product's market potential."</i>
        </p>
    </section>

    <section class="section section-divider">

    </section>

    <div id="analyticsSection" class="rimg1">
        <div class="ptext">
            <span class="border">
                Analytics
            </span>
        </div>
    </div>


    <section class="section section-rain">
        <h2>
            <b>Data-Driven Insights</b>
        </h2>
        <p>
            <i> "Dive into interactive visualizations. Explore past contestants' success factors, including
                industry-specific stats and investor preferences."</i>
        </p>
    </section>

    <div class="rimg2">
    </div>

    <section class="section section-rain">
        <h2>
            <b>Ready to Dive In?</b>
        </h2>
        <p>
            <i>“Try our application now to enhance your Shark Tank pitch. Uncover the secrets of successful pitches and
                boost your chances of landing that deal.”</i>
        </p>
        <a href="{{ url_for('form') }}">Application</a>
    </section>

    <div class="rimg3">
    </div>




</body>

</html>